.portfolioList {
  font-size: 18px;
  margin-right: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 426px) {
    font-size: 15px;
    margin-right: 5px;
    font-weight: 500;
  }

  &.active {
    background-color: crimson;
    color: white;
  }
}
